body {
  background: #f5f5f5;
}

.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6f1ff;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
